flask
langchain
langchain-community
langchain-huggingface
langchain-pinecone
pinecone-client
huggingface-hub
transformers
sentence-transformers
pydub
edge-tts
requests
python-dotenv
pyaudio
websockets
websocket-client
faster-whisper
aliyunsdkcore
logging
wave
-e